<include file="Public/header" title="添加公益地图坐标点信息" />
<style>
#publicmap{width:100%;height:500px;}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=lE1kYcBNzweb8cUGZ7qH4sqM"></script>
<div id="page_wrapper">
    <form method="post" action="{:U('Publicmap/update')}">
		<input type="hidden" name="id" value="{$post.id}">
        <div class="form-group">
            <label for="publicmap-title">信息框标题</label>
            <input type="text" name="title" class="form-control" id="title" value="{$post.title}" placeholder="输入信息框标题">
        </div>
        <div class="form-group">
            <label for="publicmap-content">信息框内容</label>
            <textarea name="content" id="content" class="form-control" rows="3" cols="20" >{$post.content}</textarea>
        </div>
		
        <div class="form-group">
            <label for="publicmap-coordinate">标注点坐标(在地图上点击获取)</label>
            <input type="text" name="coordinate" class="form-control" id="coordinate" value="{$post.coordinate}" placeholder="" readonly=”readonly”>
        </div>
		
		<div class="form-group">
            <input type="text" class="form-control" id="publicmap_search" placeholder="请输入要搜索的地址！">
			<label id="search_btn" class="btn btn-default" style="margin-top:10px;">搜索</label>
			<div id="publicmap"></div>
        </div>
		
        <button type="submit"  class="btn btn-default">提交</button>
    </form>
</div>

<script type="text/javascript">
	/*用于地图*/
	
	$(function(){
		var location= null;//用于存储点击地图的坐标;
		// 百度地图API功能
		publicmapAdd = new BMap.Map("publicmap");    // 创建Map实例
		publicmapAdd.centerAndZoom(new BMap.Point(121.475905,31.251442), 11);  // 初始化地图,设置中心点坐标和地图级别
		publicmapAdd.addControl(new BMap.MapTypeControl());   //添加地图类型控件
		publicmapAdd.setCurrentCity("上海");          // 设置地图显示的城市 此项是必须设置的
		publicmapAdd.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

		// 百度地图API功能
		locationSearch = new BMap.LocalSearch(publicmapAdd, {
			renderOptions: { map: publicmapAdd }
		});

		//以下为实现当点击地图时，获取点击处的坐标
		publicmapAdd.addEventListener("click", function (e) {
			location = e.point.lng + "," + e.point.lat;
			document.getElementById('coordinate').value = location;
		});
		
		$("#search_btn").click(function () {
			var textSearch = document.getElementById('publicmap_search').value;
			locationSearch.search(textSearch);
        });
	})
	
	
</script>
<include file="Public/footer" />