<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>资源环境社区院网--* * 社区</title>
	<meta name="renderer" content="webkit">
	<meta name="keywords content="* * 社区,资源环境社区,环境工程,环境科学,资源环境科学,地理信息技术,生态学,测绘工程">
	<meta name="author" content="LinSimon">
	<meta name="link" content="boyu624@163.com">
	<meta name="description" content="* * 社区资源环境社区官方网站">
	<base target="_blank" />
	
    <!-- Bootstrap -->
    <link href="__PUBLIC__/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<style>
	.carousel_border{
		border:5px solid red
	}
	.navbar_style{
		text-align:center;
		border:1px solid white;
		background-color:black;
	}
	.float_right{
		float:right;position:relative;
	}
	.footer_style{
		margin-top:5px;
		background-color:#c0153f;
	}
	.margin_style{
		margin-top:10px;
	}
	#txt{
	 height:200px; 
	 position:relative  

	} 
	#txt form{ 
	 position:absolute; 
	 bottom:20px; 
	 right:0px;
	 padding:0px; 
	 margin:0px 
	} 
	</style>
</head>
<body>	
	<div class="container">
        <div class="col-sm-5 text-right" style="margin-top:10px;">
            <img class="qr_code" 
			       src="__PUBLIC__/upload/article/2015-05/qr_code.jpg" 
				   alt="资源环境社区二维码">
        </div>
        <div class="col-sm-7 text-left copyright-text">
            <h5>电话、传真：021-12345678 邮箱：xxxx@xxxx.com</h5>
			<h5>地址：上海市杨浦区国权路525号</h5>
			<h5>Copyright 2010-2015  http://xxxx.xxx.com.cn/ Government All Rights Reserved</h5>
			<h5>版权所有： * * 社区资源环境社区 2010-2015</h5>         
	    </div>
    </div>
</body>
</html>